.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  background-color: #ED7855;
}

.header h2 {
  text-decoration: overline;
  color: black;
  margin-right: 20px;
}

.link{
  text-decoration: none;
}

.ladoIzquierdo {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.ladoIzquierdo nav a{
  padding-left: 5px;
  text-decoration: none;
  color: black;
  margin-right: 5px;
}

.dropdown-menu.show {
  display: block;
  background-color: #ED7855;
}

.ladoDerecho {
  padding-top: 5px;
  display: flex;
  margin-right: 20px;
}

.ladoDerecho img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 5px;
}

.ladoDerecho a{
  padding-right: 5px;
  text-decoration: none;
  color: black;
  margin-right: 5px;
}

.saludo {
  text-align: center;
  margin-top: 20px;
  font-size: xx-large;
}

.logo {
  padding-left: 10px;
}

body {
  background-image: url(./assets/back.jpeg);
  background-size: cover;
}

.itemCount {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.insideItemCount {
  display: flex;
  justify-content: space-evenly ;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}

.cardComplete{
  margin-top: 20px;
}

.cardBody {
display: flex;
flex-direction: column;
align-items: center;
background-color: #ED7855;
}

.cardBody Button {
  background-color: black;
}

.cardDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color:  #ED7855;
}

.cartTitle {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

Table {
  margin-left: 10px;
}

Form {
  margin-top: 50px;
  padding-left: 10px;
  width: 500px;
}